{% extends 'layout.html.twig' %}

{% block sidebar %}
	{% set sideNav = [
{
'title' : '',
'link' : ''
}
]
%}

	{% include './Item/_sidebar.html.twig' %}
{% endblock %}

{% block content %}
	<div>
		<h1>Urbanisme</h1>
		<p>Cette page est destinée à vous aider dans vos démarches concernant vos projets immobiliers, qu'il s'agisse de constructions nouvelles, de modifications ou d'extensions, avec ou sans démolitions.</p>
	</div>

	<div class="container mt-2">
		<p class="text-black bg-light p-2 rounded text-center">Le plan local d'urbanisme (PLU) et le règlement Local de publicité (RLP) en vigueur à Saint-Ay ont été votés le 3 février 2020.<br>Vous pouvez en visualiser toutes les pièces en cliquant ici.</p>
	</div>
	<section class="section mt-5">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-lg-5 ml-auto d-flex align-items-center mt-4 mt-md-0">
					<div>
						<h2>Le service urbanisme</h2>
						<p>
							<b>Il exerce les missions suivantes</b>
							sous l’autorité de Monsieur le Maire :</p>
						<ul>
							<li>Gestion des autorisations du Droit d'Occupation des Sols : permis de construire, permis de démolir, déclaration préalable, certificat d’urbanisme, etc.</li>
							<li>Information et accompagnement en amont et en aval pour chacun de tout projet tant auprès des administrés que des professionnels (notaire, géomètre, agence, Domaines, etc.)</li>
							<li>Gestion du Plan Local d'Urbanisme et du développement du territoire</li>
							<li>Suivi des contentieux en urbanisme</li>
						</ul>
					</div>
				</div>
				<div class="col-md-6">
					<div>
						<img alt="Mairie Saint Ay" class="img-fluid" src="./assets/images/sky_town_hall.jpg">
					</div>
				</div>
			</div>
			<div>
				<p>Vous pouvez joindre le service urbanisme :</p>
				<ul>
					<li>par courriel à
						<a href="mailto:urbanisme@ville-saint-ay.fr">urbanisme@ville-saint-ay.fr</a>
					</li>
					<li>par téléphone au  02 38 88 44 44</li>
					<li>ou sur rendez-vous à la Mairie : Tél 02 38 88 44 44</li>
					<li>aux horaires suivants : Les Lundi, Jeudi et Vendredi de 9 à 12 heures et de 15 à 17 heures</li>
				</ul>
			</div>
		</section>
		<div class="container mt-2">
			<p class="text-black bg-light p-2 rounded text-center">
				<b>AVERTISSEMENT</b>
				<br>Cette page ne représente pas la totalité du droit des sols applicable aux projets immobiliers. Malgré nos efforts il se peut que des informations données ici soient partielles ou obsolètes. Nous vous prions de nous en excuser.
				<br>Le service urbanisme de la mairie est à même de vous renseigner plus précisément sur les textes en vigueur.
				<br>Merci de signaler toute erreur ou imprécision au
				<a href="webmestre@ville-saint-ay.fr">webmestre</a>
				ou au
				<a href="urbanisme@ville-saint-ay.fr">service urbanisme</a>.</p>
		</div>
		<div>
			<h2>Urbanisme</h2>
			<p>Le territoire de la commune est réparti en zones urbaines (U), zones à urbaniser (AU), zones agricoles (A), zones naturelles (N), soumises à des réglementations différentes.</p>
		</div>
		<section class="section mt-5">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-lg-5 ml-auto d-flex align-items-center mt-4 mt-md-0">
						<div>
							<h2>1 - La première chose à faire</h2>
							<p>est de
								<b>déterminer dans quel type de zone</b>
								(exemples: Ub, UB3, AU1) se situe l'opération considérée, à l'aide du plan de zonage :</p>
							<ul>
								<li><a href="http://www.ville-saint-ay.fr/docs/urba/plu_rlp_2020/5.%20Reglement%20graphique%20v200207.pdf">Plan de zonage de la commune</a></li>
								<li><a href="http://www.ville-saint-ay.fr/urba_zones.html">Explication de la signification de chaque zone</a></li>
								<li><a href="http://www.ville-saint-ay.fr/docs/urba/plu_rlp_2020/Legende%20plan%20de%20zonage.jpg">Légende du plan de zonage ci-dessus</a></li>
							</ul>
						</div>
					</div>
					<div class="col-md-6">
						<div>
							<img alt="areas" class="img-fluid" src="./assets/images/areas.png">
						</div>
					</div>
				</div>
				<div>
					<h2>2 - Consulter le Plan Local d'Urbanisme ( PLU )</h2>
					<p>Afin de vérifier la faisabilité de votre projet et de prendre connaissance des règles qui s'y appliquent.<br>
						Le PLU précise les orientations d’évolution urbaine, les règles d’implantation, l’aspect des constructions à bâtir, et les droits réels attachés à votre propriété.</p>
					<ul>
						<li>
							<a href="http://www.ville-saint-ay.fr/docs/urba/plu_rlp_2020/4.%20Reglement%20ecrit-v200207.pdf">Règlement complet de PLU</a>
						</li>
						<p>La table des matières en tête de ce document vous permettra de vous orienter en fonction de la zone de votre projet.</p>
						<li>
							<a href="http://www.ville-saint-ay.fr/urba_prescriptions%20v200207.html">Résumé des prescriptions architecturales du PLU</a>
						</li>
					</ul>
					<p>Des prescriptions particulières peuvent en outre s'appliquer pour certaines zones proches de l'église (monument classé), du cimetière ou du château d'eau, et à certains espaces boisés classés.<br>
						Vous pouvez déterminer si votre projet est situé dans une ou plusieurs de ces zones et consulter les restrictions afférentes au moyen de
						<a href="http://www.ville-saint-ay.fr/docs/urba/prescriptions_zones_speciales%20v200207.pdf">ce document</a>.</p>
					<p>Les prescriptions du PLU sont en cohérence avec les recommandations de la Charte architecturale et paysagère du Pays Loire Beauce
						<a href="http://www.ville-saint-ay.fr/docs/urba/plu_rlp_2020/6.5b%20Annexe%20Charte%20architecturale%20et%20paysagere-Document.pdf">disponibles ici (33Mo)</a>.</p>
				</div>
			</section>
			<section class="section mt-5">
				<div class="container">
					<div class="row">
						<div class="col-md-6 col-lg-5 ml-auto d-flex align-items-center mt-4 mt-md-0">
							<div>
								<h2>3 - Prendre en compte les Taxes et Participations</h2>
								<p>engendrées par le projet, et les intégrer dans votre budget :</p>
								<ul>
									<li>La Taxe d’Aménagement</li>
									<li>La Participation pour l’Assainissement Collectif ou non collectif</li>
									<li>La Redevance d’Archéologie Préventive</li>
								</ul>
								<p>Vous trouverez plus de détail sur ces
									<a href="http://www.ville-saint-ay.fr/urba_taxes.html">taxes et participations ici</a>.</p>
								<p>Il faut également noter que la taxe foncière sera due dès la première année après l'achèvement des travaux.</p>
							</div>
						</div>
						<div class="col-md-6">
							<div>
								<img alt="cadastre_saint_ay" class="img-fluid" src="./assets/images/land_register.jpg">
							</div>
						</div>
					</div>
				</section>
				<section class="section mt-5">
					<div class="container">
						<div class="row">
							<div>
								<h2>4 - Compléter votre dossier
								</h2>
								<p>
									Une fois votre projet conçu en fonction des prescriptions et restrictions définies ci-dessus, vous devez préparer le dossier qui va permettre son instruction.<br>
									Pour savoir quel type de demande vous devez faire en fonction de votre projet, consultez ici les diverses formes d'autorisations du droit des sols.</p>
								<p>Chaque dossier administratif prend la forme d'un formulaire CERFA adapté à chaque type de projet et accompagné de pièces complémentaires.<br>
									Un CERFA est un formulaire administratif réglementé. Il s'agit d'un imprimé officiel dont le modèle est fixé par arrêté.<br>
									L'appellation "cerfa" provient du nom de l'organisme public chargé d'éditer ces formulaires : le Centre d'Enregistrement et de Révision des Formulaires Administratifs.</p>
								<p>Ces formulaires sont accesibles dans
									<a href="https://www.service-public.fr/particuliers/vosdroits/N319">cette page</a>
									du site
									<i>Service-Public</i>.fr.<br>
									Vous trouverez
									<a href="http://www.ville-saint-ay.fr/urba_cerfa-1.html">ici</a>
									les liens vers les CERFA les plus courants et d'autres téléservices.</p>
							</div>
						</div>
					</section>
					<section class="section mt-5">
						<div class="container">
							<div class="row">
								<div class="col-md-6 col-lg-5 ml-auto d-flex align-items-center mt-4 mt-md-0">
									<div>
										<h2>5 - Déposer votre dossier de demande d'autorisation administrative en Mairie</h2>
										<p>La Mairie est un service de pré-instruction des dossiers. L'instruction proprement dite est assurée par le service "SADSI" décentralisé de la Communauté de Communes des Terres du Val de Loire (CCTVL).
										</p>
										<p>Règles particulières à respecter:</p>
										<ul>
											<li>Recours obligatoire à un architecte si vous souhaitez édifier, agrandir ou modifier une construction dont la surface de plancher dépasse 150 m².
											</li>
											<li>Toute personne morale (SCI, SARL …) qui doit déposer un permis de construire pour un projet de construction neuve ou de travaux sur un bâtiment existant est tenue de faire appel à un architecte.</li>
											<li>Autorisation d’occupation du domaine public pour certains travaux, tels que les ravalements de façades, qui nécessitent l’installation d’échafaudages sur le domaine public. A cette fin, une autorisation écrite doit être obtenue au préalable auprès des services techniques de la Mairie.</li>
											<li>Il se peut aussi que votre projet soit contraint par certaines servitudes publiques.
											</li>
											<li>Au-delà du Code de l’Urbanisme, il existe d'autres règles liées notamment aux intérêts privés et recensées dans le Code Civil (servitude privée, visibilité, vue, hauteur des haies mitoyennes, etc.).</li>
											<li>Si votre projet est une construction neuve, il faut aussi déterminer si le terrain est desservi par l'assainissemnt collectif (tout-à-l'égout) ou s'il doit faire l'objet d'un assainissement individuel (traitement des eaux usées sur votre propre terrain). Pour connaître cela vous devez demander à la Mairie, service Urbanisme.</li>
										</ul>
									</div>
								</div>
								<div class="col-md-6">
									<div>
										<img alt="saint_ay_castle" class="img-fluid" src="./assets/images/saint_ay_castle_draw.jpg">
									</div>
								</div>
							</div>
						</section>
						<section class="section mt-5">
							<div class="container">
								<div class="row">
									<div>
										<p>Formalités de dépôt :</p>
										<ul>
											<li>Un récépissé vous sera remis</li>
											<li>Le dossier sera alors instruit par les services de la mairie et de la communauté de communes</li>
										</ul>
										<p>
											<b>Exemple de différents délais possibles</b>
											en matière d’instruction des dossiers.</p>
										<ul>
											<li>Le Certificat d’Urbanisme Informatif : 1 mois</li>
											<li>Le Certificat d’Urbanisme Opérationnel : 2 mois</li>
											<li>La Déclaration Préalable : 1 mois</li>
											<li>Le Permis de Construire : 2 mois</li>
											<li>Le Permis d’Aménager : 3 mois</li>
											<li>Le Permis de Démolir : 2 mois</li>
										</ul>
										<p>Attention:</p>
										<ul>
											<li>ces délais sont majorés d'environ un mois si le projet est situé dans le périmètre de protection des monuments historiques, situé autour de l’Eglise de Saint-Ay.</li>
											<li>ces délais ne commencent à courir qu'à partir du moment où le dossier est remis
												<b>complet</b>
												en mairie</li>
										</ul>
									</div>
								</div>
							</section>
							<section class="section mt-5">
								<div class="container">
									<div class="row">
										<div class="col-md-6 col-lg-5 ml-auto d-flex align-items-center mt-4 mt-md-0">
											<div>
												<h2>6 - Finaliser votre projet</h2>
												<ul>
													<li>A l'issue de l'instruction du dossier un arrêté (favorable ou non) vous sera délivré</li>
													<li>Vous devrez afficher l'autorisation sur le terrain visible de la voie publique pendant deux mois (notamment pour le recours des tiers)</li>
													<li>puis déposer en mairie (pour les permis de construire) une
														<a href="https://www.service-public.fr/particuliers/vosdroits/R1976">déclaration d'ouverture de chantier</a>
													</li>
													<li>Les travaux seront menés conformément à l'autorisation délivrée</li>
													<li>En cas de modification du projet, une demande d'autorisation complémentaire devra être déposée en mairie</li>
												</ul>
												<p>A la fin des travaux il faudra adresser en mairie</p>
												<ul>
													<li>La Déclaration sur l'honneur Attestant l'Achèvement et la Conformité des Travaux (<a href="https://www.service-public.fr/particuliers/vosdroits/R1978">voir le document DAACT</a>)</li>
													<li>L'attestation de la règlementation thermique 2012 en 3 exemplaires</li>
												</ul>
											</div>
										</div>
										<div class="col-md-6">
											<div>
												<img alt="placette_saint_ay" class="img-fluid" src="./assets/images/saint_ay_square.jpg">
											</div>
										</div>
									</div>
								</section>
								<section class="section mt-5">
									<div class="container">
										<div class="row">
											<div>
												<h2>Liens utiles</h2>
												<p>Pour vous aider dans vos démarches vous pouvez à tout moment contacter le service urbanisme de la mairie et les autres intervenants ci-dessous :</p>
												<ul>
													<li>Pour des conseils en architectures :
														<a href="http://www.caue45.fr/">Le Conseil d’Architecture, d’Urbanisme et de l’Environnement du Loiret (CAUE 45)</a>
													</li>
													<li>Pour l'eau et l'assainissement collectif :
														<a href="https://www.service.eau.veolia.fr/home.html">VEOLIA</a>
													</li>
													<li>Pour l'assainissemenr individuel :
														<a href="https://www.assainissement-non-collectif.developpement-durable.gouv.fr/le-service-public-d-assainissement-non-collectif-r11.html">Service Public d'Assainissement Non Collectif : SPANC</a>
													</li>
													<li>Pour les abords de l'église :
														<a href="http://www.patrimoine-environnement.fr/larchitecte-des-batiments-de-france/">Architecte des Bâtiments de France : ABF</a>
													</li>
													<li>Pour les branchements électriques :
														<a href="https://connect-racco.enedis.fr/prac-internet/modeEmploi/demarchesEtape1">ENEDIS</a>
														et aussi
														<a href="https://connect-racco.enedis.fr/prac-internet/modeEmploi/demarchesEtape1">ce mode d'emploi</a><br>
														Enedis est le gestionnaire du réseau public d'électricité, à contacter lors d'une panne de courant et d'un premier raccordement en composant le 09 708 319 70.<br>
														Si votre logement a déjà été raccordé au réseau public d'électricité, vous pouvez contacter un fournisseur comme
														<a href="https://www.kelwatt.fr/comparateur/edf-ou-direct-energie">EDF ou TDE</a>
														qui réalisera la mise en service.</li>
													<li>Pour les télécommunications :
														<a href="https://assistance.orange.fr/assistance-commerciale/l-achat-et-la-commande/preparer-votre-maison-ou-immeuble/raccorder-votre-maison-au-reseau-telephonique-et-a-la-fibre-optique_43864-44703">Orange (France Télécom)</a>
														ou autre opérateur de votre choix</li>
												</ul>
											</div>
										</div>
									</section>
								{% endblock %}
