<form action="" method="post" enctype="multipart/form-data">

		{% if errors is not empty %}

			<ul class="p-0 d-flex flex-column alert alert-danger list-unstyled" role="alert">
				{% for error in errors %}

					<li class="p-2 my-1 w-75">{{ error }}</li>

				{% endfor %}
			</ul>

		{% endif %}
		<label class="form-label mt-3" for="title">Titre :</label>
		<input class="form-control" type="text" id="title" name="title" value="{{ wordMayor.title }}" >
		<label class="form-label mt-3" for="lastname">Description :</label>
		<textarea class="form-control" id="description" name="description" rows="5" cols="33" required>{{ wordMayor.description }}</textarea>
		<label class="form-label mt-3" for="role">signature :</label>
		<input class="form-control" type="text" id="signature" name="signature" value="{{ wordMayor.signature }}" required>
		<label class="form-label mt-3" for="image">Image :</label>
		<input class="form-control" type="file" name="image" id="image"/>
		<button class="adminFormTeam mt-4 btn bg-primary text-light" name="send">
			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewbox="0 0 16 16">
				<path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
			</svg>Envoyer
		</button>
	</div>
</form>