{% extends 'layout_admin.html.twig' %}

{% block sidebar %}
    {% set sideNav = [
            {
                'title' : 'Retour', 
                'link' : '/admin/equipe-communale'
            }
        ]      
    %}
    {% include './Item/_sidebar.html.twig' %}
{% endblock %}

{% block content %}

    <h2>Modifier un agent</h2>

    <form action="" method="post" enctype="multipart/form-data" class="w-75">
 		<label class="form-label mt-3" for="firstname">Prenom :</label>
 		<input class="form-control" type="text" id="firstname" name="firstname" value="{{ agent.firstname }}" required>

         <label class="form-label mt-3" for="lastname">Nom :</label>
 		<input class="form-control" type="text" id="lastname" name="lastname" value="{{ agent.lastname }}" required>

         <label class="form-label mt-3" for="role">Role :</label>
 		<input class="form-control" type="text" id="role" name="role" value="{{ agent.role }}" required>

         <label class="form-label mt-3" for="avatar">Image :</label>
 		<input class="form-control" type="file" name="avatar" id="avatar" />

         <button class="adminFormTeam mt-4 btn bg-primary text-secondary">
 			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewbox="0 0 16 16">
 				<path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
 			</svg>
             <span>Modifer</span>
         </button>
     </form>


{% endblock %}