{% extends 'layout_admin.html.twig' %}

{% block stylesheet %}
	<link rel="stylesheet" href="/assets/css/association.css">
{% endblock %}

{% block sidebar %}
	{% set sideNav = [
			{
                'title' : 'Accueil', 
                'link' : '/admin'
            },
            {
                'title' : 'Actualités', 
                'link' : '/admin/actualite'
            },
            {
                'title' : 'Horaire de la mairie', 
                'link' : '/admin/horaires'
            },
            {
            
                'title' : 'Associations', 
                'link' : '/admin/association'
            },
            {
                'title' : 'Documents officiels', 
                'link' : '/admin/documents'
            },
            {
                'title' : 'Équipe Municipale', 
                'link' : '/admin/municipalite'
            }
        ]      
    %}
	{% include './Item/_sidebar.html.twig' %}
{% endblock %}

{% block content %}

	<a href="/admin/association/ajouter" class="btn bg-primary text-secondary mb-4 p-3">Ajouter une association</a>

	<section class="p-2 p-lg-5">

		<h2 class="title mb-3">Toutes vos associations :</h2>
		<hr class="w-100 mb-5">
		<ul class="p-0 d-flex flex-column gap-2">

			{% for association in associations %}

				<li class="my-2 d-flex align-items-center">
					<p class="w-25 p-0 m-0">{{ association.associationName }}</p>
					<p class="w-50 p-0 m-0">{{ association.categoryName }}</p>

					<form action="/admin/association/supprimer" method="POST" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette association ? La suppression est irréversible...')">
						<input type="hidden" name="id" value="{{ association.id }}">
						<button class="btn bg-danger text-secondary mx-2 p-2 px-3 d-flex justify-content-center align-items-center">
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill me-2" viewbox="0 0 16 16">
								<path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"/>
							</svg>
							<span>Supprimer</span>
						</button>
					</form>


				</li>

			{% endfor %}

		</ul>
	</section>

{% endblock %}
