{% extends 'layout_admin.html.twig' %}

{% block sidebar %}
    {% set sideNav = [
            {
                'title' : 'Retour', 
                'link' : '/admin/association'
            }
        ]      
    %}
    {% include './Item/_sidebar.html.twig' %}
{% endblock %}

{% block content %}

    <h2>Modifier une association</h2>

    {% include './Admin/_form-admin-association.html.twig' %}

{% endblock %}