{% extends 'layout_admin.html.twig' %}

{% block sidebar %}
	{% set sideNav = [
        {
                'title' : 'Accueil', 
                'link' : '/admin'
        },
        {
                'title' : 'Actualités', 
                'link' : '/admin/actualite'
        },
		{
                'title' : 'Associations', 
                'link' : '/admin/association'
        },
        {
            'title' : 'Documents officiels', 
            'link' : '/admin/documents'
        }
    ]      
%}

	{% include './Item/_sidebar.html.twig' %}
{% endblock %}

{% block content %}

	<section class="p-2 p-lg-5">

		<h2>Tous vos documents :
		</h2>
		<hr class="w-100 mb-5">

		<ul>

			{% for report in reports %}

				<li class="my-2 d-flex align-items-center">

					<p class="w-25 p-0 m-0">{{ report.date }}</p>
					<p class="w-50 p-0 m-0">
						{{ report.title }}
					</p>


				</li>

			{% endfor %}

		</ul>
	</section>

{% endblock %}
