{% extends 'layout_admin.html.twig' %}

{% block sidebar %}
	{% set sideNav = [
            {
                'title' : 'Retour', 
                'link' : '/admin/association'
            }
        ]      
    %}
	{% include './Item/_sidebar.html.twig' %}
{% endblock %}

{% block content %}

	<h2>Ajouter une association</h2>

	<ul class="p-0 d-flex flex-column">
		{% for error in errors %}

			<li class="bg-danger text-secondary p-2 my-1 w-75">{{ error }}</li>

		{% endfor %}
	</ul>


	<form class="w-75" method="POST" novalidate>

		<div class="form-group my-2">
			<label for="name">Nom de l'association :</label>
			<input name="name" type="text" class="form-control" id="name" aria-describedby="Nom de l'association" value="{% if association.name is defined %}{{association.name}}{% endif %}" required/>

		</div>

		<div class="form-group my-2">

			<label for="category">Categorie :</label>
			<select id="category" name="category" class="form-select" aria-label="Default select">
				<option>Culture</option>
				<option>Education</option>
				<option>Parents</option>
				<option>Communaute</option>
				<option>Associations patriotiques</option>
				<option>Aide mutuelle</option>
				<option>Professionnelles</option>
				<option>Sport</option>
			</div>


		</select>

		<div class="form-group my-2">
			<label for="description">Description :</label>
			<textarea name="description" class="form-control" id="description" aria-describedby="Description de l'association" rows="3" required>
				{% if association.description is defined %}
					{{association.description}}
				{% endif %}
			</textarea>
		</div>

		<div class="form-group my-2">
			<label for="phone_number">Numero pour l'association :</label>
			<input type="tel" id="phone_number" name="phone_number" placeholder="022233445566" value="{% if association.phone_number is defined %}{{ association.phone_number }}{% endif %}" required>

		</div>

		<div class="d-flex justify-content-center w-100"></div>
		<button type="submit" class="btn bg-primary text-secondary p-2 mt-3">Soumettre</button>
	</form>

	<div>
		<a href="/admin/association" class="btn bg-primary text-secondary mt-3 mb-3 p-2">Retour</a>
	</div>

{% endblock %}
