{% extends 'layout.html.twig' %}

{% block sidebar %}
	{% set sideNav = [
	{
		'title' : '',
		'link' : ''
	}
]
%}

	{% include './Item/_sidebar.html.twig' %}
{% endblock %}

{% block content %}
	<section class="nav-anchor" id="taxes_and_contributions">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-lg-5 ml-auto d-flex align-items-center mt-4 mt-md-0">
					<div>
						<h1>Plan de la ville</h1>
						<h2>Situation géographique</h2>
						<p>Saint Ay (3561 habitants, les Agyliens) s'étend sur la rive Nord de la Loire.
							La ville est traversée par d'importantes voies de communication , outre la Loire elle-même, qui sont toutes sur l'axe Paris-Bordeaux : la route nationale 152, l'autoroute A10, la ligne de chemin de fer.
							Cette étroite relation au fleuve et aux circulations commerciale et touristique lui donne son caractère.</p>
					<p>Distances de :</p>
					<ul>
						<li>Paris - 120km</li>
						<li>Orléans - 12km</li>
						<li>Blois - 48km</li>
					</ul>
					</div>
				</div>
				<div class="col-md-6">
					<div>
					<iframe width="600" height="450" src="https://www.openstreetmap.org/export/embed.html?bbox=1.7448413372039797%2C47.855041630019905%2C1.7627584934234621%2C47.86091579669865&amp;layer=mapnik" style="border: 1px solid black" title="saint-ay"></iframe><br/><small><a href="https://www.openstreetmap.org/#map=17/47.85798/1.75380">Afficher une carte plus grande</a></small>
					</div>
				</div>
			</div>
		</section>
	{% endblock %}
