<h1 class="title">Baby sitting</h1>
<div class="d-flex flex-column flex-md-row">
	<img class="m-1" src="./assets/images/babySitting.jpg" alt="babbySitting" height="168" width="300">
	<div class="mt-3">
		<p class="m-1">L'Association Familles Rurales peut vous proposer des jeunes pour assurer la garde de vos enfants lors de vos sorties.</p>
		<p class="m-1">Le <strong> 02 38 88 20 83 </strong> vous donnera les possibilités et conditions de ce service.</p>
	</div>
</div>
