<nav class="navbar fixed-top d-flex justify-content-between p-4">
		<div class="navbar-brand d-flex justify-content-center align-items-center p-3 p-lg-2">
			<img src="/assets/images/logo.png" alt="" width="60px" height="70px" class="mx-3">
			<a class="nav-link" href="/"><h1>Ville de Saint Ay</h1></a>
		</div>
		<div class="d-none d-xl-flex">
        <a class="nav-link text-primary p-2 px-3" href="#">Service Municipaux</a>
				<a class="nav-link text-primary p-2 px-3" href="#">Vie associative</a>
				<a class="nav-link text-primary p-2 px-3" href="#">Municipalité</a>
				<a class="nav-link text-primary p-2 px-3" href="#">Patrimoine</a>
    </div>

  
    <button class="navbar-toggler d-xl-none" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <div class="nav-link-container container-fluid d-flex flex-column bg-secondary">
        <a class="nav-link text-primary p-2 px-3" href="#">Service Municipaux</a>
				<a class="nav-link text-primary p-2 px-3" href="#">Vie associative</a>
				<a class="nav-link text-primary p-2 px-3" href="#">Municipalité</a>
				<a class="nav-link text-primary p-2 px-3" href="#">Patrimoine</a>
      </div>
    </div>
</nav>

<div class="background-nav"></div>


