
<div class="sidebar bg-primary position fixed-top">

    <nav>
        <div class="sidebar-nav nav flex-column text-primary p-4">
            {% for menu in sideNav %}
                <a href="{{menu.link}}" class="nav-link text-secondary">{{menu.title}}</a>
            {% endfor %}
        </div>
        <a href="/" class="sidebar-back-home nav-link text-secondary fixed-bottom p-4">Retour à l'accueil</a> 
    </nav>
</div>