
<div class="sidebar bg-primary position">

    <nav>
        <div class="sidebar-nav nav flex-column text-primary p-4">
            {% for menu in sideNav %}
                <a href="{{menu.link}}" class="side-bar-navlink nav-link text-secondary">{{menu.title}}</a>
            {% endfor %}

        </div>
    </nav>
</div>