<div class="mt-3">
    <h2 class="">Les dernières actualités</h2>
    <div class="d-flex flex-wrap gap-1">
       {% for actuality in actualities %}
            {% include './Home/_actuality-card.html.twig' %}
        {% endfor %}
    </div>
    <a href="/toutes-les-actus" class="btn bg-primary text-secondary my-4 p-3">Voir toutes les actus</a>
</div>
