<h1 class="title mt-5">Petite enfance</h1>
<div class="gap-3 d-flex flex-column flex-md-row">
	<div class="d-flex justify-content-center">
		<img class="rounded" src="../assets/images/childCare.jpg" alt="childCare" widht="300" height="168">
	</div>
	<div class="w-80">
		<h5>Structure multi-accueil d'enfants de moins de quatre ans</h5>
		<p>Cette structure a été créée en octobre 2002 par l'Association Familles Rurales, avec l'aide des subventions de la CAF, du Conseil Régional et de la Commune. Depuis 2018 elle est devenue un service municipal. La structure sera transférée en 2023 dans un nouveau bâtiment actuellement en construction Rue de la Métairie, près de la salle François Villon.</p>
		<p>Adresse mail : lesoursons@familles-rurales-saint-ay.fr</p>
		<p>Tél : 02 38 80 51 08</p>
	</div>
</div>
