<section class="municipal-service">
	<h3 id="public-Home" class="title">Accueil du public à la Mairie</h3>
	<div class="mt-4">
		<p>La Mairie est située Place de la Mairie.</p>
		<p>Tél. 02 38 88 44 44 - Fax 02 38 88 82 14</p>
		<p>M. le Maire reçoit sur rendez-vous le lundi après midi
		</p>
		<a href="mailto:accueil@ville-saint-ay.fr">accueil@ville-saint-ay.fr</a>
	</div>
</section>
