<div id="mayor-reception" class="mt-4">
    <h3>Horaires de réception du Maire</h3>
    <hr class="w-100">
    <p>M. le Maire reçoit sur rendez-vous le lundi après-midi <p>
    <div class="d-flex flex-row flex-wrap gap-3">
        <p>Tél: 02 38 88 44 44 </p>
        <p>Mail: <a href="mailto:maire@ville-saint-ay.fr" class="link">maire@ville-saint-ay.fr</a></p>
    </div>
</div>