<section class="mt-5">
    <h3>Agence postale communale</h3>
    <hr>
    <div class="row">
        <div class="col">
            <p class="text-decoration-underline">Entrée par le jardin de la mairie.</p>
            <h5>Horaires d'ouverture :</h5>
            <p>L’Agence Postale Communale et la Mairie sont fermées les samedis des semaines impaires.</p>
            <ul>
                <li class="lead fs-6">Le lundi de 15 à 19 heures (17 heures en août)</li>
                <li class="lead fs-6">Les mardi, mercredi de 15 à 17 heures</li>
                <li class="lead fs-6">Le jeudi de 9 à 12 heures</li>
                <li class="lead fs-6">Le vendredi de 15 à 17 heures</li>
                <li class="lead fs-6">Le samedi de 9 à 12 heures les semaines paires uniquement (fermé tous les samedis en août)</li>
            </ul>
            <p>En août : l’Agence Postale Communale et la Mairie ferment à 17h le lundi et sont fermées tous les samedis.</p>
        </div>
        <div class="col-lg d-flex justify-content-center align-items-center">
            <img src="../assets/images/postal.jpg" alt="Boite aux lettres" class="municipal-service-postal d-none d-lg-block px-4">
        </div>
    </div>    
</section>