<section class="home-side-assets fixed-top d-flex flex-column align-items-center">
    <div class="home-side-image-wrapper d-lg-flex flex-column justify-content-center align-items-center p-3 w-100 h-90">
        <img src="./assets/images/mairiedesaintay.jpg" class="image-mairie mb-3 w-90" alt="Mairie de Saint-Ay">
        <div class="d-flex justify-content-center my-4">
            <img src="./assets/images/logoregioncentre.png" class="logo-centre me-3 d-lg-block d-none" alt="Région Centre-Val-de-Loire">
            <img src="./assets/images/logorepubliquefrancaise.png" class="logo-republique-française ms-3 d-lg-block d-none" alt="République Française">
        </div>
        <img src="./assets/images/logovaldeloire.png" class="logo-val-de-loire d-lg-block d-none" alt="Logo Val de Loire Patrimoine Mondial">
    </div>
</section>