<div id="" class="mt-3">
	<h2 class=" mt-5">Mot du maire</h2>
	<hr>
	<div class="row justify-content-center g-3">
		{% for wordMayor in wordsMayor %}
			<div class="col-sm-3">
				<div class="d-flex align-items-center justify-content-center flex-column p-4">
					<img class="card-img-top" src="{{ wordMayor.image }}" alt="Card image communal">
					<div class="card-body">
						<h4 class="card-text text-center p-2 employe">{{ wordMayor.description }}
							{{wordMayor.signature}}
						</h4>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>

