{% extends 'layout.html.twig' %}

{% block content %}


	<div class="d-flex flex-column">
		<h3>Coordonnées</h3>
		<ul class="contact-info">
			<li class="lead">Adresse: Place de la Mairie - 45130 Saint AY</li>
			<li class="lead">Tél. 02 38 88 44 44 - Fax 02 38 88 82 14</li>
			<li class="lead">accueil@ville-saint-ay.fr</li>
		</ul>
	</div>
{% endblock %}
