{% extends 'layout.html.twig' %}

{% block content %}
	<h2>Coordonnées</h2>
	<ul>
		<li>Adresse: Place de la Mairie - 45130 Saint AY</li>
		<li>Tél. 02 38 88 44 44 - Fax 02 38 88 82 14</li>
		<li>accueil@ville-saint-ay.fr</li>
	</ul>
{% endblock %}
