{% extends 'layout.html.twig' %}

{% block content %}
	<h1>Infos pratique</h1>
	<ul>
		<li>Le lundi de 15 à 19 heures (17 heures en août)</li>
		<li>Le mardi de 9 à 12 et de 15 à 17 heures</li>
		<li>Le mercredi de 15 à 17 heures</li>
		<li>Le jeudi de 9 à 12 heures</li>
		<li>Le vendredi de 9 à 12 et de 15 à 17 heures</li>
		<li>Le samedi de 9 à 12 heures les semaines paires uniquement</li>
		<li>(fermé tous les samedis en août)</li>
	</ul>
{% endblock %}
