{% extends 'layout.html.twig' %}

{% block stylesheet %}
	<link rel="stylesheet" href="/assets/css/home.css">
	<link rel="stylesheet" href="/assets/css/actuality-cards.css">
{% endblock %}


{% block content %}

	{% include './Home/_side-assets.html.twig' %}

	<div class="home-main-content px-3">
		<div class="m-auto">
			<h1>Bienvenue à Saint-Ay !</h1>

			{% include './Home/_actuality.html.twig' %}

			<div class="d-flex flex-column justify-content-start">
				<h2 class="mt-5 mb-4">Infos pratiques</h2>
				<h4 class="mt-3">Horaires d'ouverture au public</h4>
				<hr>
				{% for openingTime in openingTimes %}
					<p class="d-flex gap-2">{{openingTime.day}}
						{{openingTime.hour}}</p>
				{% endfor %}
			</div>
		</div>
		<div class="d-flex flex-column">
			<h4 class="mt-4">Coordonnées</h4>
			<hr>
			{% for contact in contacts %}
				<ul class="contact-info">
					<p class="">{{contact.title}}
						{{contact.info}}</p>
				</ul>
			{% endfor %}
		</div>

		{% include './Home/_wordMayor.html.twig' %}

		<div class="quick-access mt-5">

			<h2>Accès rapide</h2>
			<hr>
			<div class="quick-access-buttons">
				<a href="/plan-ville" class="btn bg-primary text-secondary my-4 p-3">Plan de la ville</a>
				<a href="/services-municipaux#vie-scolaire" class="btn bg-primary text-secondary my-4 p-3">Vie scolaire</a>
				<a href="/vie-associative/annuaire-association" class="btn bg-primary text-secondary my-4 p-3">Annuaire des associations</a>
				<a href="/contact" class="btn bg-primary text-secondary my-4 p-3">Contact</a>
			</div>
		</div>
	</div>
{% endblock %}
