{% extends 'layout.html.twig' %}

{% block stylesheet %}
	<link rel="stylesheet" href="/assets/css/home.css">
	<link rel="stylesheet" href="/assets/css/actuality-cards.css">
{% endblock %}


{% block content %}

	{% include './Home/_side-assets.html.twig' %}

	<div class="home-main-content px-3">
		<div class="m-auto">
			<h1>Bienvenue à Saint-Ay !</h1>

			{% include './Home/_actuality.html.twig' %}

			<div class="d-flex flex-column justify-content-start">
				<h2>Infos pratiques</h2>
				<h3>Horaires d'ouverture au public</h3>
				{% for openingTime in openingTimes %}
					<ul>
						<li class="lead">{{openingTime.day}}
							{{openingTime.hour}}</li>
					</ul>
					{% endfor%}
				</div>
			</div>
			<div class="d-flex flex-column">
				<h3>Coordonnées</h3>
				{% for contact in contacts %}
					<ul class="contact-info">
						<li class="lead">{{contact.title}}
							{{contact.info}}</li>
					</ul>
					{% endfor%}
				</div>
				<div class="mayor-speech d-flex flex-column mb-3">
					<h2>Mot du maire</h2>
					<div class="p-2">
						<p class="fst-italic">"De la force de la douceur, de la douceur de la force"</p>
					</div>
					<div class="p-2">
						<p>La situation stratégique de SAINT-AY sur une voie de communication importante, à proximité immédiate mais dans l'indépendance d'une grande agglomération, génère le caractère attractif de SAINT-AY. 
																																																															Le dynamisme de ses habitants à travers la vie associative, scolaire et économique, constitue sa principale richesse. 
																																																															Ses bords de Loire et de Mauve et ses terres champêtres dégagent une impression de douceur et de bien-être.</p>
					</div>
					<div class="p-2">
						<p>Depuis plusieurs décennies, la Municipalité conjugue avec détermination ces atouts agyliens, en fondant son action sur trois principes directeurs :</p>
					</div>
					<div class="p-2">
						<p>Développer et moderniser les équipements et les infrastructures,
																																																												Favoriser le plein épanouissement de la vie associative, scolaire et économique,
																																																												Protéger et mettre en valeur le patrimoine naturel et architectural.
																																																												Ainsi, d'agréable village de vignerons du début du XXème siècle, SAINT-AY est devenu, en ce début du XXIème siècle, une petite ville attractive dont le dynamisme n'a d'égal que la douceur de vivre.</p>
					</div>
					<div class="d-flex p-2 flex-md-row mb-3">
						<img src="./assets/images/fredo.png" class="rounded" alt="maire"/>
						<ul>
							<b>
								<li>Fréderic CUILLERIER</li>
							</b>
							<b>
								<li>Maire de Saint-AY</li>
							</b>
							<b>
								<li>Président du Pays Loire-Beauce</li>
							</b>
						</ul>
					</div>
				</div>
				<div class="quick-access">
					<h2>Accès rapide</h2>
					<div class="quick-access-buttons">
						<a href="/plan-ville" class="btn bg-primary text-secondary my-4 p-3">Plan de la ville</a>
						<a href="/services-municipaux#vie-scolaire" class="btn bg-primary text-secondary my-4 p-3">Vie scolaire</a>
						<a href="/vie-associative/annuaire-association" class="btn bg-primary text-secondary my-4 p-3">Annuaire des associations</a>
						<a href="/contact" class="btn bg-primary text-secondary my-4 p-3">Contact</a>
					</div>
				</div>
			</div>

		{% endblock %}
