{% extends 'layout.html.twig' %}

{% block stylesheet %}<link rel="stylesheet" href="../assets/css/municipalService.css">
{% endblock %}

{% block content %}
	<div class="container-fluid school">
		<h1 class="kindergarten">Vie scolaire</h1>
		<section class="municipal-service">
			<h2>L'école maternelle</h2>
			<div class="d-flex flex-column">
				<img class="rounded mb-4" src="../assets/images/ecoleMaternelle.jpeg" alt="EcoleMaternelle" width="400px">
				<div class="m-3">
					<p>L'école maternelle est située Rue de la Métairie, entrée des enfants par la venelle depuis le parking de la Salle François Villon.</p>
					<p>Elle comprend six classes avec ATSEM.</p>
					<p>Tél : 02 38 60 04 97</p>
					<p>ecm-saint-ay@ac-orleans-tours.fr</p>
				</div>
			</div>
			<h2>L'école élémentaire</h2>
			<div class="d-flex flex-column">
				<img class="rounded mb-4" src="../assets/images/ecoleElementaire.jpeg" alt="EcoleElementaire" width="400px">
				<div class="m-3">
					<p>Rue de la Métairie</p>
					<p> L'école élémentaire François Rabelais comprend dix classes, réparties du CP au CM2. Elle est située</p>					
					<p>Directrice : Mme Valérie GINESTET </p>
					<p>Tél : 02 38 86 86 36</p>
					<p>ec-francois-rabelais-saint-ay@ac-orleans-tours.fr</p>
				</div>
			</div>
		</section>
	</div>
{% endblock %}
