{% extends 'layout.html.twig' %}

{% block stylesheet %}<link rel="stylesheet" href="../assets/css/municipalService.css">
{% endblock %}

{% block sidebar %}
	{% set sideNav = [
        {
            'title' : 'Service de secours', 
            'link' : '#firemen-number'
        },
		{
            'title' : 'Vie scolaire', 
            'link' : '#scolar-life'
        }
    ]      
    %}

	{% include './Item/_sidebar.html.twig' %}
{% endblock %}

{% block content %}

<div class="px-2 px-lg-5 w-100">

	<h2>Services municipaux</h2>
	<img src="assets/images/bureau_mairie.png" class="services-municipaux-bureau my-3 mw-100 rounded" alt="Reception de la Mairie de Saint-Ay"/>
	{% include './Home/_mayorReception.html.twig' %}


	{% include './Home/_postalAgency.html.twig' %}

	{% include './Home/_library.html.twig' %}

	{% include './Home/_market.html.twig' %}

	{% include './Home/_cinema.html.twig' %}

	{% include './Home/_landfill.html.twig' %}



	<h3 class="title">L'Accueil Périscolaire</h3>
	<section class="municipal-service">

	<div class="container-fluid school">
		<h1 class="kindergarten" id="scolar-life">Vie scolaire</h1>
		<section class="municipal-service">
			<h2>L'école maternelle</h2>
			<div class="d-flex flex-column">
				<img class="rounded mb-4" src="../assets/images/ecoleMaternelle.jpeg" alt="EcoleMaternelle" width="400px">
				<div class="m-3">
					<p>L'école maternelle est située Rue de la Métairie, entrée des enfants par la venelle depuis le parking de la Salle François Villon.</p>
					<p>Elle comprend six classes avec ATSEM.</p>
					<p>Tél : 02 38 60 04 97</p>
					<p>ecm-saint-ay@ac-orleans-tours.fr</p>
				</div>
			</div>
			<h2>L'école élémentaire</h2>
			<div class="d-flex flex-column">
				<img class="rounded mb-4" src="../assets/images/ecoleElementaire.jpeg" alt="EcoleElementaire" width="400px">
				<div class="m-3">
					<p> L'école élémentaire François Rabelais comprend dix classes, réparties du CP au CM2. Elle est située rue de la Métairie</p>					
					<p>Directrice : Mme Valérie GINESTET </p>
					<p>Tél : 02 38 86 86 36</p>
					<p>ec-francois-rabelais-saint-ay@ac-orleans-tours.fr</p>
				</div>
			</div>
		</section>
	</div>
  <h3 class="title">L' Accueil Périscolaire</h3>
	<section class="municipal-service">
		<div class="container-fluid">
			<div class="row justify-content-md-start">
				<div class="col-md-auto">
					<img src="./assets/images/periscolaire.jpg" class="rounded float-start" alt="Périscolaire">
				</div>
				<div class="col">
					<div class="periscolaireText">
						<div class="container text-start">
							<p class="lead m-0">Ce service, autrefois appelé Garderie Périscolaire, est ouvert aux enfants de 3 à 11 ans scolarisés à Saint-Ay, et se tient dans le nouveau local HQE dédié situé entre les écoles maternelle et élémentaire.</p>
							<p class="lead m-0">Il accueille les enfants avant et après la classe, à partir de 7h30, et jusqu'à 18h30.</p>
							<p class="lead m-0">Les animateurs proposent à vos enfants des activités variées autant manuelles, sportives que culturelles.</p>
							<p class="lead m-0">Directrice: Ingrid OOSTERLINCK</p>
							<p class="lead m-0">Tél: 02 38 86 08 61 ou 06 98 38 44 62</p>
							<p class="lead m-0">garderie.periscolaire@ville-saint-ay.fr</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
  <h3 class="title">Le Restaurant Scolaire</h3>
	<section class="restaurantService">
		<div class="container flex-start">
			<div class="column justify-content-md-start">
				<div class="row">
					<p class="lead m-0">Il est servi 300 repas par jour, et ce en deux services pour un meilleur confort des enfants de la maternelle et de l'école élémentaire.</p>
					<p class="lead m-0">La restauration traditionnelle est effectuée sur place par le Chef cuisinier et toute son équipe.</p>
					<p class="lead m-0">Les ATSEM encadrent les plus petits afin de les aider à prendre leur repas.</p>
					<p class="lead m-0">Une animatrice accompagne spécifiquement les enfants de Maternelle qui ont un PAI et ce durant tout le repas. Depuis septembre 2014, un self est mis en place pour le repas des Elémentaires.</p>
					<p class="lead m-0">Les animateurs du périscolaire sont là pour accompagner les enfants durant le repas et leur proposer des activités durant la pause méridienne.</p>
					<p class="lead m-0">Adresse courriel : restaurant.scolaire@ville-saint-ay.fr</p>
				</div>
			</div>

		</div>
		</div>
	</section>
  
	<h3 class="title">Le portail familles</h3>
		<section class="portailFamilie">
			<div class="row justify-content-md-start">
				<p class="lead m-0">À compter de la rentrée scolaire 2017 toutes les activités du service jeunesse de Saint-Ay sont accessibles sur Internet à travers le portail-familles ville-saint-ay.portail-familles.net</p>
				<p class="lead m-0">Vous pouvez sur ce portail inscrire vos enfants et gérer toutes les activités. Pour avoir la possibilité de le faire vous devez faire au préalable une demande en ligne au moyen du formulaire disponible ici.</p>
			</div>
		</section>

		<section id="firemen-number" class="municipal-service container-fluid">
			<h3 class="title">Service  pompiers</h3>
			<div class="row">
				<div class="col-sm-6 col-md-4 mt-3">
					<img src="./assets/images/pompier1.jpg" alt="Pompier" class="rounded my-2 mw-100"/>
				</div>
				<div class="col-sm-6 col-md-8">
					<div class="d-flex mt-3">
						<svg xmlns="http://www.w3.org/2000/svg" width="29" height="29" fill="currentColor" class="bi bi-telephone-fill" viewbox="0 0 16 16">
							<path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
						</svg>
						<div class="px-2 fs-5  strong">
							Tel 18
						</div>
					</div>
					<div class="mt-4">
						<p class="lead">Le Service d'incendie et de secours est centralisé sur le département. Pour en savoir plus voir
							<a href="https://sdis45.com/">le site</a>.</p>
					</div>
					<div class="mt-4">
						<p class="lead">Depuis le 1er septembre 2015 le Centre de Première Intervention(CPI) de Saint-Ay a été dissous et ses fonctions regroupées dans le CPI de Chaingy/Saint-Ay basé à Chaingy.</p>
					</div>
				</div>
			</section>
		</div>
	{% include 'Home/_childCare.html.twig' %}

</div>

{% endblock %}