{% extends 'layout.html.twig' %}

{% block sidebar %}
    {% set sideNav = [
        {
            'title' : '', 
            'link' : '#'
        }
    ]      
    %}
    
    {% include './Item/_sidebar.html.twig' %}
{% endblock %}

{% block content %}
	<h2>Services municipaux</h2>
	<img src="assets/images/bureau_mairie.png" class="services-municipaux-bureau my-3 mw-100 rounded" alt="Reception de la Mairie de Saint-Ay"/>
	{% include './Home/_mayorReception.html.twig' %}

	<div id="fireman" class="mt-4">
	<h3 class="title">Service  pompiers</h3>
	<section class="municipal-service ">
		<div class="container-fluid">
			<div class="d-flex flex-md-row mb-3  flex-column">
				<div>
					<img src="./assets/images/Pompiers.png" class="rounded" alt="Pompier"/>
				</div>
				<div class="col-md-9 align-self-start">
					<h4 class="fireman">
						<b>
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone-fill" viewbox="0 0 16 16">
								<path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
							</svg>
							Tel 18</b>
					</h4>
					<p class="lead">Le Service d'incendie et de secours est centralisé sur le département.Pour en savoir plus voir le site www.sdis45.com</p>
					<p class="lead">Depuis le 1er septembre 2015 le Centre de Première Intervention(CPI) de Saint - Ay a été dissous et ses fonctions regroupées dans le CPI de Chaingy/Saint - Ay basé à Chaingy.</p>
				</div>
			</div>
		</div>
	</section>
	</div>
{% endblock %}
