{% extends 'layout.html.twig' %}

{% block stylesheet %}{% endblock %}

{% block content %}
<h1 class="mb-5">Vie scolaire</h1>
<h2>L'école maternelle</h2>
<img src="../assets/images/ecoleMaternelle.jpeg" alt="EcoleMaternelle">

{% endblock %}