{% extends 'layout.html.twig' %}

{% block content %}
	<h3 class="title">Le Restaurant Scolaire</h3>
	<section class="restaurantService">
		<div class="container flex-start">
			<div class="column justify-content-md-start">
				<div class="row">
					<p class="lead m-0">Il est servi 300 repas par jour, et ce en deux services pour un meilleur confort des enfants de la maternelle et de l'école élémentaire.</p>
					<p class="lead m-0">La restauration traditionnelle est effectuée sur place par le Chef cuisinier et toute son équipe.</p>
					<p class="lead m-0">Les ATSEM encadrent les plus petits afin de les aider à prendre leur repas.</p>
					<p class="lead m-0">Une animatrice accompagne spécifiquement les enfants de Maternelle qui ont un PAI et ce durant tout le repas. Depuis septembre 2014, un self est mis en place pour le repas des Elémentaires.</p>
					<p class="lead m-0">Les animateurs du périscolaire sont là pour accompagner les enfants durant le repas et leur proposer des activités durant la pause méridienne.</p>
					<p class="lead m-0">Adresse courriel : restaurant.scolaire@ville-saint-ay.fr</p>
				</div>
			</div>
		</div>
	</section>

{% endblock %}
