{% extends 'layout.html.twig' %}

{% block content %}
	<h3 class="title">Service  pompiers</h3>
	<section class="services-municipaux ">
		<div class="container-fluid">
			<div class="d-flex flex-row mb-3 ">
				<div>
					<img src="./assets/images/Pompiers.png" alt="Pompier"/>
				</div>
				<div class="col-md-9">
					<h4><img src="./assets/images/telephone-call.png" witdth="50" height="20" alt="tel"/>
						Tel 18</h4>
						
					<p class="lead">Le Service d'incendie et de secours est centralisé sur le département.Pour en savoir plus voir le site www.sdis45.com</p>
					<p class="lead">Depuis le 1er septembre 2015 le Centre de Première Intervention(CPI) de Saint - Ay a été dissous et ses fonctions regroupées dans le CPI de Chaingy/Saint - Ay basé à Chaingy.</p>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
