.actuality-card {
    width: 420px;
    height: 500px;
    box-shadow: inset var(--box-shadow-card);
    border: none;
    border-radius: var(--border-radius-card);
}

.card-img-top {
    width: 100%;
    height: 40%;
    object-fit: cover;
    border-radius: var(--border-radius-card) var(--border-radius-card) 0 0;

}

.actuality-card .btn {
    border-radius: 0 0 var(--border-radius-card) var(--border-radius-card);
}

.actuality-card .card-title {
    height: 6rem;
}