.association-card .btn {
    border-radius: 0 0 var(--border-radius-card) var(--border-radius-card);
}

.association-card {
    width: 420px;
    height: 500px;
    box-shadow: inset var(--box-shadow-card);
    border: 1px solid rgba(var(--bs-primary-rgb), 0.2);
    border-radius: var(--border-radius-card);
}

.association-card .card-title {
    height: 10rem;
}

.association-card .card-img {
    width: 60px;
    height: 40px;
}

.association-card .association-img-phone {
    width: 20px;
    height: 20px;
}

.association-phone-svg {
    fill: var(--bs-primary)
}

.associations .association-home-image {
    height: 40vh;
    object-fit: cover;
}

.association-home-button-svg {
    fill: var(--bs-secondary);
}

.association-card-description{
    height: 14rem;
    overflow: scroll;
}

.association-card hr {
    color: var(--bs-primary);
}