.municipal-services .municipal-service-postal {
    height: 20rem;
}

.municipal-services .municipal-service-library-img {
    height: 10rem;
    object-fit: cover;
}

.municipal-services .bi-telephone-fill {
    fill: rgb(var(--bs-danger-rgb));
}
