 .communalTeam .card-img-top {
    margin: 1rem;
    width: 10em;
    height: 10rem;
    object-fit: cover;

}

.communalTeam .card-body{
    margin: 1rem;
    width: 10em;
    height: 10rem;
    object-fit: cover;
}






