.municipal-service,
.kindergarten {
    border-bottom: 1px solid black;
    padding: 3px;
    margin: 3%;
}

@media screen and (max-width: 768px) {
    .school img {
        height: 250px;
    }

    .school .d-flex {
        flex-direction: column;
    }

    
}
