@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai&display=swap');

@font-face {
    font-family: 'Marianne';
    src: url(../font/Marianne-Bold.woff) url(../font/Marianne-Medium.woff);
}

:root {
    --bs-primary-rgb: 52, 90, 137;
    --bs-primary: rgb(var(--bs-primary-rgb));

    --bs-secondary-rgb: 255, 254, 252;
    --bs-secondary: rgb(var(--bs-secondary-rgb));

    --font-fam-title: 'Marianne-bold';
    --font-fam-body: 'Hind Madurai', sans-serif;
    --font-color-dark: #222;
}

}
