h1,
h2,
h3,
h4,
h5 {
    font-family: var(--font-fam-title);
}

body {
    font-family: var(--font-fam-body);
    color: var(--font-color-dark);
}

main {
    margin-block-start: 3rem;
}

.municipal-service .title {
    border-bottom: 1px solid var(--font-color-dark);
}

.municipal-service .truck {
    width: 150px;
    height: 200px;
    object-fit: cover;
}

.municipal-service .fireman-wrapper {
    max-width: 700px;
}