h1, h2, h3, h4, h5 {
    font-family: var(--font-fam-title);
}

body{
    font-family: var(--font-fam-body);
}
main{
    margin-block-start: 3rem;
}

.home-actualities .btn {
    border-radius: 0 0 var(--bs-card-border-radius) var(--bs-card-border-radius);
}
.home-actualities .card {
    width: 25rem;
    height: 25rem;
}
.home-actualities .card img {
    margin: 1rem;
    width: 10em;
    height: 10rem;
    object-fit: cover;
}
