<section class="p-2 p-lg-5">

	<h1 class="title mb-3">Annuaire des association</h3>
	<hr class="w-100 mb-5">
	<div class="d-flex flex-wrap gap-3">

		{% for association in associations %}
			{% include './Association/_association-card.html.twig' %}
		{% endfor %}
	</div>
</section>

