<section class="history pb-4 px-2 px-lg-5 w-100">
	<div class="history-home-wrapper position-relative">
		<h2 class="position-absolute top-50 start-50 translate-middle bg-primary text-secondary text-center m-0 p-5 rounded">Histoire & Patrimoine<h2>
				<img class="history-home-image w-100" src="./assets/images/history.jpg" alt="Accueil de l'espace administratueur"/>
			</div>
			<h2 class="mt-5">Histoire et Patrimoine</h2>
			<hr>

			<div class="row-lg">
				<p class="mb-3">L'histoire connue de la ville de Saint-Ay commence avec celle de son fondateur
					<span class="text-primary fs-5">Saint Agylus</span>, qui lui donna son nom.</p>
				<p class="my-3">
					Au cours des âges l'orthographe du nom de la ville a évolué de Sanctus Agylus, à Saint Agyle, Agyl, Ayl, et enfin Ay (prononcé Saint-Y). Les habitants de la ville sont toujours appelés les Agyliens.
				</p>

				<div class="text-wrap">

					<img class="history-image rounded float-start img-fluid me-3 mb-2 w-25" src="./assets/images/agylus_vitrail.jpg" alt="Saint Agylus à Saint-Ay">

					<h5 class="mt-4">Moyen Âge</h5>
					<hr>
					<p class="my-2">Agylus, vicomte d'Orléans en 564, brutal et sans pardon est touché par la grâce divine en poursuivant l'un de ses esclaves. Il décide alors de se convertir, mène une vie exemplaire de bonté et de piété, se démet de sa charge de vicomte et fait un pèlerinage à Jérusalem. Quelque temps après son retour, atteint d'une fièvre pernicieuse, il meurt le 30 août 593. Il est enterré dans la chapelle qu'il avait fait bâtir, à quelques lieux à l'Ouest d'Orléans, sur les bords de la Loire, choeur actuel de l'Église de Saint-Ay.</p>
					<p class="my-2">D'un hameau constitué de quelques huttes de pêcheurs, au VI ème siècle, Saint-Ay se développe peu à peu, grâce à la Loire, grande voie de communication et de transport, les carrières de pierre ouvertes dans les falaises calcaires des bords de Loire servent de refuge aux pêcheurs et de lieu de stockage.</p>
					<p class="my-2">Pillé par les Normands en 855, brûlé partiellement par les Anglais au cours de la Guerre de Cent ans, dévasté par les troupes de Condé lors de la guerre de religion, Saint-Ay subit la contrepartie de sa situation stratégique.</p>
					<p class="my-2">En 1201, Saint-Ay devient propriété épiscopale. En 1215, les nonnes cisterciennes s'installent sur les terres de Voisins et fondent l' Abbaye de Voisins et, à partir de 1230, elles font agrandir la chapelle agylienne.</p>

					<h5 class="mt-4">Renaissance</h5>
					<hr>
					<p class="my-2">Au XVème siècle, le domaine épiscopal est partagé entre plusieurs seigneuries : La Chaise, La Pourcillière, Aigresolles, aujourd'hui lieux-dits de la ville, et celle du Château de Saint-Ay (La Grand'Cour près de l'église), la plus importante, où François Rabelais séjourna fréquemment et y écrivit, entre 1543 et 1545, le Tiers-livre de Pantagruel. La fontaine de Rabelais en garde mémoire.</p>
					<p class="my-2">Le tombeau de Saint Ay est ouvert lors de la Saint Barthélémy (1572) et les ossements en sont dispersés par les protestants.</p>
					<p class="my-2">Le blason de Saint-Ay résume à lui seul ce millénaire d'histoire.</p>
					<img class="history-image rounded float-end img-fluid mb-2 ms-3 w-25" src="./assets/images/monument_aux_morts_saint-ay.jpg" alt="Monument aux morts à Saint-Ay">

					<h5 class="mt-5">Révolution Française et Période contemporaine</h5>
					<hr>
					<p class="my-2">La révolution française abolit les privilèges de la noblesse et du clergé et, par-là même, l'influence des évêques d'Orléans sur le domaine épiscopal. Elle crée les communes. Administrée par un agent communal de 1790 à 1804, puis par son premier maire, Saint-Ay compte alors 1 000 habitants. Le tableau des maires, affiché dans la salle du conseil en Mairie, montre la succession des premiers magistrats depuis la création de la commune jusqu'à nos jours.</p>
					<p class="my-2">Jusqu'en 1781 la route royale d'Orléans à Blois passait au Sud de la Loire. A cette date elle a été déplacée sur la rive Nord. C'est l'actuelle route Nationale RD2152/RN152 qui traverse Saint-Ay. Pour le service de la poste aux chevaux un relais de poste est installé à Saint-Ay en 1786.</p>
					<p class="my-2">L'actuelle place de la mairie était jusqu'en 1823 close de murs et abritait le cimetière et le presbytère. C'est en 1837 que le presbytère devient propriété communale en tant que mairie et que sont construites les premières écoles.</p>
					<p class="my-2">En 1844, commence la réalisation du chemin de fer Orléans-Tours, inauguré officiellement en 1846, qui entraînera le déclin rapide de la navigation fluviale. En 1858, la mairie actuelle et les écoles sont reconstruites et inaugurées sur la place de la Mairie.</p>
					<p class="my-2">Lors de la guerre de 1870, les Bavarois occupent Saint-Ay qui paie un lourd tribut financier. Le téléphone et l'électricité sont installés en 1890. Lors de la guerre 1914-1918, plus de 50 Agyliens donneront leur vie pour libérer la France. Le monument aux morts érigé en 1921 place de la Mairie par une souscription publique a été réalisé par le sculpteur Camille Lefèvre, habitué de la ville.</p>

					<h5 class="mt-4">Histoire Moderne</h5>
					<hr>
					<p class="my-2">Pendant la seconde guerre mondiale, Saint-Ay subit l'occupation allemande et est libéré à la fin de l'été 1944.</p>
					<p class="my-2">Pays de vignerons jusqu'au début du XXème siècle, Saint-Ay évolue vers les cultures céréalières au cours du siècle. Mais quelques spécialités gustatives sont demeurées des siècles passés.</p>
					<p class="my-2">La construction du quartier de La Bretagne entre 1975 et 1980 permet le doublement de la population agylienne qui passe, en cinq ans, de 1 500 à 3 000 habitants. La vie associative, les écoles, les équipements municipaux, la zone d'activités, connaissent, depuis lors, un fort développement.</p>
					<p class="my-2">Ce développement se poursuit au début du XXIème siècle où d'importantes zones d'habitation sont en cours d'aménagement, qui porteront la population vers 3 500 habitants.</p>
					<p class="my-2">Une Exposition "Saint-Ay d'hier et Aujourd'hui" préparée pour les journées du patrimoine 2014 met en évidence les changements intervenus au cours des 100 dernières années.
					</p>
					<p class="my-3">De petit hameau de pêcheurs au VIème siècle, Saint-Ay est devenu au XXIème siècle, une petite ville animée et agréable, remplie du charme et de la douceur des villes de Loire, donnant toute sa plénitude à sa devise :
					</p>
					<div class="d-flex justify-content-center">
						<p class="bd callout bg-light rounded my-4 fst-italic text-center">
							<span class="text-primary fs-5">" LA FORCE DE LA DOUCEUR ET LA DOUCEUR DE LA FORCE ".</span>
						</p>
					</div>
				</div>
			</div>

		</section>
