<section class="mt-5 nav-anchor" id="garde-enfant">

	<h3>Baby sitting</h3>
	<hr>
	<div class="d-flex flex-column flex-md-row gap-3">
		<img class="rounded" src="./assets/images/babySitting.jpg" alt="babbySitting" height="168" width="300">
		<div class="mt-3">
			<p>L'Association Familles Rurales peut vous proposer des jeunes pour assurer la garde de vos enfants lors de vos sorties.</p>
			<p>Le <span class="lead p-1">02 38 88 20 83</span> vous donnera les possibilités et conditions de ce service.</p>
		</div>
	</div>

</section>