<section class="mt-3 nav-anchor" id="camping">

	<h3>Camping "Fontaine de Rabelais"</h3>
	<hr>
	<div class="d-flex flex-column flex-md-row gap-3">
		<img class="rounded" src="./assets/images/camping.jpg" alt="babbySitting" height="168" width="300">
		<div class="mt-3">
			<p>Situé sur la berge de la Loire, il est sous responsabilité de l'office de tourisme de la communauté de communes.</p>
			<p>
				<strong>Il est actuellement fermé sine die.</strong>
			</p>
		</div>
	</div>
</section>
