<section class="mt-3 nav-anchor" id="cinema">
    <h3>Cinéma</h3>
    <hr>
    <p>Chaque mois d'octobre à avril, le second mardi du mois, un film récent est projeté à la salle François Villon à 20h30. 
    Ces séances sont organisées par l'association Familles Rurales avec l'aide de Ciné-Sologne.</p>
</section>