<section class="mt-5 nav-anchor" id="portail-famille">
<h3>Le portail familles</h3>
<hr>
	<p>À compter de la rentrée scolaire 2017 toutes les activités du service jeunesse de Saint-Ay sont accessibles sur Internet à travers le portail-familles ville-saint-ay.portail-familles.net</p>
	<p>Vous pouvez sur ce portail inscrire vos enfants et gérer toutes les activités. Pour avoir la possibilité de le faire vous devez faire au préalable une demande en ligne au moyen du formulaire disponible ici.</p>
</section>