<section class="mt-5 nav-anchor" id="ordures-dechetterie">
    <h3>Ordures ménagères et déchetterie</h3>
    <hr>

    <p><strong>La collecte</strong> des ordures ménagères (containers gris) a lieu tous les <strong>vendredi</strong>.</p>
    <p>Celle des emballages ménagers (containers jaunes) le <strong>vendredi de chaque semaine impaire</strong>.</p>
    <p>Ces jours de ramassage sont repoussés d'une journée s'il y a eu un jour férié auparavant dans la même semaine.</p>
    <p><a href="http://www.ville-saint-ay.fr/docs/calendrier_ramassage_poubelles_2022.pdf">Affichez le calendrier</a> des jours de ramassage.</p>
    <p>Les consignes concernant l'utilisation du container jaune ont été modifiées à partir du 1er mars 2021, et permettent de collecter davantage d'emballages. Le courrier joint ( <a href="http://www.ville-saint-ay.fr/docs/consignes_poubelles_jaunes_2021.pdf">cliquer ici</a> ) explique les nouvelles modalités.</p>

    <h5>Les déchetteries les plus proches sont celles de :</h5>
    <ul>
        <li class="lead fs-6">Saint-Ay (ZA les Varigoins, 13 rue Jean Monnet, tél 06 15 23 82 97)</li>
        <li class="lead fs-6">Meung-sur Loire (ZI Les Sablons, Chemin de l'Orange, tél 06 15 23 65 61)</li>
    </ul>

    <p>Merci de prendre connaissance des dernières informations en <a href="https://www.ccterresduvaldeloire.fr/reseau-des-dechetteries/">cliquant ici</a>.</p>

    <h5>Pour prendre rendez-vous :</h5>
    <ul>
        <li class="lead fs-6">par téléphone au 02 38 45 11 11 CCTVL</li>
        <li class="lead fs-6">par Internet sur <a href="https://ccterresduvaldeloire.prordv.com/locations">ccterresduvaldeloire.prordv.com/locations</a></li>
    </ul>

    <h5>Pour tout renseignement sur les ordures ménagères et la déchetterie, vous pouvez contacter le SMIRTOM au 02 38 44 59 35 et consulter le site Internet</h5>
    <ul>
        <li class="lead fs-6"><a href="https://www.ccterresduvaldeloire.fr/reseau-des-dechetteries/">pour les déchetteries</a></li>
        <li class="lead fs-6"><a href="https://www.ccterresduvaldeloire.fr/collecte-des-dechets-smirtom/">pour la collecte en porte à porte et les points d'apport volontaire</a></li>
    </ul>

</section>