<section class="mt-5 nav-anchor" id="bibliotheque">
    <h3>Bibliothèque municipale</h3>
    <hr>

    <img src="../assets/images/library.jpg" alt="Bibliothèque" class="municipal-service-library-img w-100 my-4">

    <p>Les inscriptions se font toute l’année.</p>
    <p>De nombreuses nouveautés pour tous les âges sont régulièrement acquises. </p>
    <p>C’est avec grand plaisir que nous vous invitons à venir les découvrir.</p>

    <h4>Salle François Villon</h4>
    <ul>
        <li class="lead">Téléphone : 02 38 66 46 41</li>
        <li class="lead">Courriel : <a href="mailto: bibliotheque@ville-saint-ay.fr">bibliotheque@ville-saint-ay.fr</a></li>
        <li class="lead">Le catalogue de la bibliothèque est consultable sur <a href="http://bibliotheque-ville-saint-ay.fr">http://bibliotheque-ville-saint-ay.fr</a></li>
    </ul>

    <h4>Heures d'ouverture : </h4>
    <ul>
        <li class="lead">Lundi : 15h – 17h</li>
        <li class="lead">Mardi : 10h – 12h</li>
        <li class="lead">Mercredi : 14h30 – 16h30</li>
        <li class="lead">Samedi : 10h – 11h30</li>
    </ul>

    <h4>Tarifs des incriptions à l'année</h4>
    <ul>
        <li class="lead">1 adulte : 7 euros</li>
        <li class="lead">1 couple : 12 euros</li>
        <li class="lead">Gratuit sous présentation d’un justificatif pour les mineurs, les étudiants et les demandeurs d’emploi</li>
    </ul>

</section>