<section class="mt-3 nav-anchor" id="bibliotheque">
    <h3>Bibliothèque municipale</h3>
    <hr>

    <img src="../assets/images/library.jpg" alt="Bibliothèque" class="municipal-service-library-img w-100 my-4">

    <p>Les inscriptions se font toute l’année.</p>
    <p>De nombreuses nouveautés pour tous les âges sont régulièrement acquises. </p>
    <p>C’est avec grand plaisir que nous vous invitons à venir les découvrir.</p>

    <h4>Salle François Villon</h4>
    <ul>
        <p>Téléphone : 02 38 66 46 41</p>
        <p>Courriel : <a href="mailto: bibliotheque@ville-saint-ay.fr">bibliotheque@ville-saint-ay.fr</a></p>
        <p>Le catalogue de la bibliothèque est consultable sur <a href="http://bibliotheque-ville-saint-ay.fr">http://bibliotheque-ville-saint-ay.fr</a></p>
    </ul>

    <h4>Heures d'ouverture : </h4>
    <ul>
        <p>Lundi : 15h – 17h</p>
        <p>Mardi : 10h – 12h</p>
        <p>Mercredi : 14h30 – 16h30</p>
        <p>Samedi : 10h – 11h30</p>
    </ul>

    <h4>Tarifs des incriptions à l'année</h4>
    <ul>
        <p>1 adulte : 7 euros</p>
        <p>1 couple : 12 euros</p>
        <p>Gratuit sous présentation d’un justificatif pour les mineurs, les étudiants et les demandeurs d’emploi</p>
    </ul>

</section>