<section class="mt-5 nav-anchor" id="periscolaire">
    <h3>L' Accueil Périscolaire</h3>
    <hr>

	<div class="row justify-content-md-start">
		<div class="col-md-auto">
		    <img src="./assets/images/periscolaire.jpg" class="rounded float-start" alt="Périscolaire">
		</div>

		<div class="col container">
			<p>Ce service, autrefois appelé Garderie Périscolaire, est ouvert aux enfants de 3 à 11 ans scolarisés à Saint-Ay, et se tient dans le nouveau local HQE dédié situé entre les écoles maternelle et élémentaire.</p>
			<p>Il accueille les enfants avant et après la classe, à partir de 7h30, et jusqu'à 18h30.</p>
			<p>Les animateurs proposent à vos enfants des activités variées autant manuelles, sportives que culturelles.</p>
			<p>Directrice: Ingrid OOSTERLINCK</p>
			<p>Tél: 02 38 86 08 61 ou 06 98 38 44 62</p>
		    <p>garderie.periscolaire@ville-saint-ay.fr</p>
		</div>
	</div>
</section>