<section id="transport-commun" class="mt-4 nav-anchor">
	<h3 class="mt-3">Transports en commun</h3>
	<hr>
	<p>REMI 45 est un réseau de transport géré par la région Centre-Val de Loire.</p>
	<p>L'exploitant de REMI 45 est Transdev Loiret Mobilité ; Téléphone 0 806 70 33 33.
	</p>
	<p>Le prix du titre de transport unitaire est de 3 Euros</p>
	<p>Les transports scolaires sont gratuits, hors frais de dossier (25 Euros par élève dans la limite de 50 Euros par représentant légal)</p>
	<p>Toutes infos en temps réel avec l'application 'remi centre val de loire' sur smartphone qui couvre à la fois les trains et les autocars.
	</p>
	<p>Trains Express Régionaux au départ de la gare de Saint Ay.
	</p>
	<p>Consultez les horaires officiels sur :
		<a href='http://www.ter.sncf.com/centre-val-de-loire'>sur ce lien</a>
	</p>
	<p>Horaires du lundi au vendredi sous réserve
																																	- veuillez vérifier avec le lien ci-dessus - :
	</p>
	<p>Horaires du lundi au vendredi sous réserve
																									- veuillez vérifier avec le lien ci-dessus - :
	</p>
	<p>En direction de Blois (départ de la gare d'Orléans 15 minutes avant)
																									08:16 - 17:18 - 18:25 - 19:25
	</p>
	<h4 class="mt-3">Autocars</h4>
	<p>Consultez les horaires officiels :
		<a href='https://www.remi-centrevaldeloire.fr/horaires-et-itineraires/horaires-car-remi/'>en cliquant sur ce lien</a>
	</p>
	<p>La ligne desservant Saint-Ay et la ligne 9A.</p>
</section>
