<section class="mt-5 nav-anchor" id="vie-scolaire">
	<h3>Vie scolaire</h3>
	<hr>

	<h4 class="mt-3">L'école maternelle</h4>
	<div class="gap-1 d-flex flex-column flex-md-row">
		<img class="rounded mb-4" src="../assets/images/ecoleMaternelle.jpeg" alt="EcoleMaternelle" height="168" width="300">
		<div class="my-3">
			<p>L'école maternelle est située Rue de la Métairie, entrée des enfants par la venelle depuis le parking de la Salle François Villon.</p>
			<p>Elle comprend six classes avec ATSEM.</p>
			<p>Tél : 02 38 60 04 97</p>
			<p>ecm-saint-ay@ac-orleans-tours.fr</p>
		</div>
	</div>

	<h4 class="mt-3">L'école élémentaire</h4>
	<div class="gap-3 d-flex flex-column flex-md-row">
		<img class="rounded mb-4" src="../assets/images/ecoleElementaire.jpeg" alt="EcoleElementaire" height="168" width="300">
		<div class="my-3">
			<p>
				L'école élémentaire François Rabelais comprend dix classes, réparties du CP au CM2. Elle est située rue de la Métairie</p>
			<p>Directrice : Mme Valérie GINESTET
			</p>
			<p>Tél : 02 38 86 86 36</p>
			<p>ec-francois-rabelais-saint-ay@ac-orleans-tours.fr</p>
		</div>
	</div>

	<h3 class="mt-3 nav-anchor" id="restaurant-scolaire">Le Restaurant Scolaire</h3>
	<hr>
	<div class="column justify-content-md-start">
		<p>Il est servi 300 repas par jour, et ce en deux services pour un meilleur confort des enfants de la maternelle et de l'école élémentaire.</p>
		<p>La restauration traditionnelle est effectuée sur place par le Chef cuisinier et toute son équipe.</p>
		<p>Les ATSEM encadrent les plus petits afin de les aider à prendre leur repas.</p>
		<p>Une animatrice accompagne spécifiquement les enfants de Maternelle qui ont un PAI et ce durant tout le repas. Depuis septembre 2014, un self est mis en place pour le repas des Elémentaires.</p>
		<p>Les animateurs du périscolaire sont là pour accompagner les enfants durant le repas et leur proposer des activités durant la pause méridienne.</p>
		<p>Adresse courriel : restaurant.scolaire@ville-saint-ay.fr</p>
	</div>
</section>