{% extends 'layout.html.twig' %}

{% block stylesheet %}
	<link rel="stylesheet" href="/assets/css/municipalite.css">
{% endblock %}

{% block content %}

	<div class="container">
		<h1 class="mt-5">L'équipe Municipale</h1>
		<div class="d-flex justify-content-center mb-5 mt-3">
			<img class="team" src="/../assets/images/Lequipe-Municipal.jpg" alt="L'équipe municipal" width="1000" height="400">
		</div>
		<h2 class="mb-3">Organigramme de l'équipe Municipale</h2>
		<div class="container-fluid">
			<div class="row organigrammeRow ">
				{% for personnes in personne %}
					<div class="col-lg-3 organigrammeCol-lg-3 ">
						<div class="card organigrammeCard">
							<img class="card-img-top organigrammeCard-img-top" src="{{ personnes.image }}" alt="Card image cap">
							<div class="card-body organigrammeCard-body ">
								<h5 class="card-text">{{ personnes.firstname }}
									{{personnes.lastname}}
								</h5>
								<p class="card-text">{{ personnes.role}}
								</p>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>

	{% endblock %}
