{% extends 'layout.html.twig' %}

{% block stylesheet %}
<link rel="stylesheet" href="/assets/css/municipalite.css">
{% endblock %}

{% block content %}
   <h1>L'équipe Municipale</h1>
   <img src 



{% endblock %}
