{% extends 'layout.html.twig' %}

{% block stylesheet %}
	<link rel="stylesheet" href="/assets/css/municipalite.css">
{% endblock %}

{% block content %}

	<div class="container">
		<h1>L'équipe Municipale</h1>
		<img src="/../assets/images/Lequipe-Municipal.jpg" alt="L'équipe municipal" width="650" height="250"><p></p>
		<p>L'organisation des responsabilités au sein de l'équipe municipale a été votée le 23 mai 2020, et remaniée en septembre 2020:
		</p>

		<p>Maire : Compétence générale - Police - Sécurité - Etat civil : Frédéric CUILLERIER</p>
		<p>Adjoint aux affaires scolaires, culture, communication et gestion des salles : Pascal FOULON</p>
		<p>Adjointe aux bâtiments et au développement durable - biodiversité : Marie-Françoise QUERE</p>
		<p>Adjoint aux travaux, voirie et traitement des eaux : Dominique RENAULT</p>
		<p>Adjointe à l'urbanisme et au droit des sols : Valérie LABOUACHRA</p>

		<p>Adjoint aux finances : Serge LEBRUN</p>
		<p>Adjointe déléguée à la vie des quartiers et au commerce : Isabelle BRIARD</p>
		<p>Conseiller délégué à la jeunesse et à la petite enfance : Jean-Marc MASSE</p>
		<p>Conseiller délégué aux sports, à l'entretien des installations sportives et des cérémonies : Joël GIRARD</p>
		<p>Conseiller délégué aux affaires sociales : Carl LEQUERTIER</p>
	</p>
	<h2>Organigramme de l'équipe Municipale</h2>
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				{% for personnes in personne %}
					<div class="card">
						<img class="card-img-top" src="{{ personnes.image }}" alt="Card image cap">
						<div class="card-body">
							<p class="card-text">{{ personnes.firstname }}
								{{personnes.lastname}}
							</p>
							<p class="card-text">{{ personnes.role}}
							</p>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>

{% endblock %}
